.card-width {
  width: 500px;
}

.card {
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.successMessage {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.alert {
  margin: 10px 0 0 0;
  width: 50%;
}
